useDynLib(clpAPI)

import(methods)

exportClass("clpPtr")

export(
# methods
"clpPointer",
"clpPtrType",
"clpPtrType<-",
"isNULLpointerCLP",
"isCLPpointer",
# function names
addColsCLP,
addRowsCLP,
chgColLowerCLP,
chgColUpperCLP,
chgObjCoefsCLP,
chgRowLowerCLP,
chgRowUpperCLP,
#colNameCLP,
copyNamesCLP,
delColsCLP,
delProbCLP,
delRowsCLP,
dualCLP,
dropNamesCLP,
getColDualCLP,
getColLowerCLP,
getColPrimCLP,
getColUpperCLP,
getIndCLP,
getLogLevelCLP,
getNnzCLP,
getMaximumIterationsCLP,
getMaximumSecondsCLP,
getHitMaximumIterationsCLP,
getNumColsCLP,
getNumNnzCLP,
getNumRowsCLP,
getObjCoefsCLP,
getObjDirCLP,
getObjValCLP,
getRowDualCLP,
getRowLowerCLP,
getRowPrimCLP,
getRowUpperCLP,
getScaleFlagCLP,
getSolStatusCLP,
getVecLenCLP,
getVecStartCLP,
idiotCLP,
initProbCLP,
loadMatrixCLP,
loadProblemCLP,
lengthNamesCLP,
primalCLP,
printModelCLP,
probNameCLP,
readMPSCLP,
resizeCLP,
restoreModelCLP,
return_codeCLP,
#rowNameCLP,
saveModelCLP,
scaleModelCLP,
setNumberIterationsCLP,
setMaximumIterationsCLP,
setMaximumSecondsCLP,
setLogLevelCLP,
setObjDirCLP,
solveInitialBarrierCLP,
solveInitialBarrierNoCrossCLP,
solveInitialCLP,
solveInitialDualCLP,
solveInitialPrimalCLP,
status_codeCLP,
versionCLP,
setRowNameCLP,
setColNameCLP,
writeMPSCLP,
modifyCoefficientCLP
)

